#main{
    text-align: center;
    font-family: cursive;
}
h1{
    text-transform: capitalize;
    font-size: 35px;
}
#image{
    width: 375px;
    height: auto;
    margin: auto;
    max-width: 100%;
    text-align: center;
    display: block;
    opacity: 0.7;
}
p#img-caption{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif !important;
    color: gainsboro;
}
p#tribute-info{
    font-size: 22px;
    font-weight: 400;
}
p.footer{
    font-weight: 800;
    font-size: 20px;
    color: rgb(255, 0, 0);
}
#img-div{
    background-color: black;
    padding: 10px;
}
